{% extends 'base.html.twig' %}

{% block title %}Connexion {{ parent() }}{% endblock %}

{% set sidebar_visible = false %}

{% block body %}

    <div class="container" data-layout="container">
        <div class="row justify-content-center min-vh-25 py-3">
            <div class="col-sm-11 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <a class="d-flex justify-content-center mb-4" href="{{ path("app_base_home") }}">
                    <img class="me-0" src="{{ asset('/img/makutatrans_blue_old.png') }}" alt="" width="150"/>
                </a>
                <div class="card">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row d-flex justify-content-between mb-2">
                            <div class="col-auto">
                                <h5>Me connecter</h5>
                            </div>
                            <div class="col-auto fs-10 text-600">
                                <span>ou</span> <a href="{{ path('app_register') }}">Créer un compte</a>
                            </div>
                        </div>
                        <form method="post" class="form-group">

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="mb-3">
                                <label for="username">Compte utilisateur</label><br>
                                <input type="tel" value="{{ last_username }}" name="_username" id="username"
                                       class="form-control " autocomplete="username" required autofocus
                                       placeholder="Numéro de téléphone valide" style="width: 415px"/>
                            </div>
                            <div class="mb-3">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="_password" id="password" class="form-control"
                                       autocomplete="current-password" required placeholder="Mot de passe valide"/>
                            </div>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">

                            <div class="row d-flex justify-content-between">
                                <div class="col-auto">
                                    <input type="checkbox" name="_remember_me" id="_remember_me">
                                    <label for="_remember_me">Se souvenir de moi</label>
                                </div>
                                <div class="col-auto"><a class="fs-10" href="#">Mot de passe oublié?</a></div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Me
                                    connecter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const phoneInput = document.querySelector("#username");
        const iti = window.intlTelInput(phoneInput, {
            initialCountry: "cd",  // Pays par défaut
            preferredCountries: ["cd", "fr", "us", "gb"],
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });

        function updatePhoneNumber() {
            phoneInput.value = iti.getNumber().substring(1);
        }

        phoneInput.addEventListener("countrychange", updatePhoneNumber);
        phoneInput.addEventListener("blur", updatePhoneNumber);
    </script>


{% endblock %}
