{% extends 'base.html.twig' %}

{% block title %}Bienvenue {{ parent() }}{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center my-4">Tableau de bord</h2>

        <div id="makuta-global-alert"></div>

        {% for message in app.flashes('success_message') %}
            <div class="alert alert-success flash-message" role="alert">
                {{ message }}
            </div>
        {% endfor %}


        <!-- Section des informations de l'utilisateur et de la balance -->
        <div class="card mb-4">
            <div class="card-header text-center">
                <!-- Centrer le logo -->
                <div class="d-flex justify-content-center">
                    <img src="{{ asset('/img/makutatrans_blue.png') }}" alt="Logo" width="150">
                </div>
            </div>
            <div class="card-body text-center">
                <h4 class="mb-1">Bienvenue {{ app.user.pseudo | capitalize }} !</h4>
                <p class="text-muted">{{ app.user.username | capitalize }}</p>
                <h5 class="mb-4"><strong>MakutaTrans</strong><br>Gestion Ultra-moderne des tickets de Bus et Parking !</h5>

                <!-- Carte de balance centrée -->
                <div class="d-flex justify-content-center">
                    <div class="card text-center" style="width: 200px;">
                        <div class="card-body">
                            <h6>Ma balance</h6>
                            <div class="display-4 text-info">{{ balance }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <script>#}
{#        let notification;#}
{#        let content  = "hello, vous venez de souscrire a celle ci";#}
{#        notification = `<div class="alert alert-success" id="makuta-global-alert-message">#}
{#                    <i class="fa fa-check-circle"></i> ${content}#}
{#                </div>`;#}
{#        const alertContainer = document.querySelector('#makuta-global-alert');#}
{#        alertContainer.insertAdjacentHTML('afterend', notification);#}

{#        // Supprimer automatiquement après 60 secondes#}
{#        setTimeout(() => {#}
{#            const msg = document.querySelector('#makuta-global-alert-message');#}
{#            if (msg) msg.parentNode.removeChild(msg);#}
{#        }, 6000);#}

{#    </script>#}


{% endblock %}
