{% extends 'base.html.twig' %}

{% block title %}Nouvelle recharge {{ parent() }}{% endblock %}

{% block body %}

    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">

        <div>
            {% for message in app.flashes('danger_message') %}
                <div class="alert alert-danger flash-message" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="card p-4 shadow" style="max-width: 450px; width: 100%;">
            <div class="text-center mb-4">
                <h4 class="fw-bold">Nouvelle recharge</h4>
                <p class="text-muted">Rechargez votre compte pour payer plus vite, en toute sécurité et sans tracas à chaque trajet.</p>

            </div>

            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.payerOperator, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.payerOperator, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.payerOperator) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.amount, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.amount) }}
            </div>

            <div class="mb-3">
                {{ form_widget(form.isDefaultAmount, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.isDefaultAmount) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.payerCurrency, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.payerCurrency, {'attr': {'class': 'form-select'}}) }}
                {{ form_errors(form.payerCurrency) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.payerAccountNumber, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.payerAccountNumber, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.payerAccountNumber) }}
            </div>

            <div class="mb-3">
                {{ form_widget(form.countryCode, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.countryCode) }}
            </div>

            <div class="d-grid mt-4">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-danger'}}) }}
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const phoneInput = document.querySelector("#wallet_operation_payerAccountNumber");

            // Initialisation d'intl-tel-input
            const iti = window.intlTelInput(phoneInput, {
                initialCountry: "cd", // Pays par défaut
                preferredCountries: ["cd", "fr", "us", "gb"],
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
            });

            // Ajouter les classes Bootstrap au conteneur
            // const itiContainer = phoneInput.closest('.iti'); // Récupérer le conteneur généré par intl-tel-input
            // if (itiContainer) {
            //    itiContainer.classList.add('form-control'); // Ajouter la classe Bootstrap
            // }

            // Mettre à jour la valeur du champ avec le numéro formaté
            function updatePhoneNumber() {
                phoneInput.value = iti.getNumber().substring(1);
            }

            phoneInput.addEventListener("countrychange", updatePhoneNumber);
            phoneInput.addEventListener("blur", updatePhoneNumber);
        });

    </script>



{% endblock %}
