<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} | MakutaTrans{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}


        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">

        <!-- DataTables -->
        <link href="{{ asset('assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Responsive datatable examples -->
        <link href="{{ asset('assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Bootstrap Css -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{{ asset('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css">
        <!-- App Css -->
        <link href="{{ asset('assets/css/app.min.css') }}" rel="stylesheet" type="text/css">


    {% endblock %}

    {% block stylesheet %}
        <!-- DataTables -->
        <link href="{{ asset('assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">

        <!-- Responsive datatable examples -->
        <link href="{{ asset('assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css">

    {% endblock %}

    {% block javascripts %}
    {% endblock %}

</head>
<body data-sidebar="dark">>
<div id="layout-wrapper">

    {% include 'layout/header.html.twig' %}

    {% include 'layout/sidebar.html.twig' %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                {% block body %}

                    <!-- ===============================================-->
                    <!--    JavaScripts-->
                    <!-- ===============================================-->
                    {# Script dependencies #}
                    {#                <script src="{{ asset('vendors/popper/popper.min.js') }}"></script> #}
                    {#                <script src="{{ asset('vendors/bootstrap/bootstrap.min.js') }}"></script> #}
                    {#                <script src="{{ asset('vendors/anchorjs/anchor.min.js') }}"></script> #}
                    {#                <script src="{{ asset('vendors/is/is.min.js') }}"></script> #}
                    {#                <script src="{{ asset('vendors/echarts/echarts.min.js') }}"></script> #}
                    {#                <script src="{{ asset('vendors/fontawesome/all.min.js') }}"></script> #}
                    {#                <script src="{{ asset('vendors/lodash/lodash.min.js') }}"></script> #}
                    {#                <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script> #}
                    {#                <script src="{{ asset('vendors/list.js/list.min.js') }}"></script> #}
                    {#                <script src="{{ asset('assets/js/theme.js') }}"></script> #}



                {% endblock %}
                <!-- JAVASCRIPT -->
                <script src="{{ asset('assets/libs/jquery/jquery.min.js') }}"></script>
                <script src="{{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
                <script src="{{ asset('assets/libs/metismenu/metisMenu.min.js') }}"></script>
                <script src="{{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
                <script src="{{ asset('assets/libs/node-waves/waves.min.js') }}"></script>
                <script src="{{ asset('assets/libs/jquery-sparkline/jquery.sparkline.min.js') }}"></script>

                <!-- Required datatable js -->
                <script src="{{ asset('assets/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
                <script src="{{ asset('assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

                <!-- Buttons examples -->
                <script src="{{ asset('assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
                <script src="{{ asset('assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
                <script src="{{ asset('assets/libs/jszip/jszip.min.js') }}"></script>
                <script src="{{ asset('assets/libs/pdfmake/build/pdfmake.min.js') }}"></script>
                <script src="{{ asset('assets/libs/pdfmake/build/vfs_fonts.js') }}"></script>
                <script src="{{ asset('assets/libs/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
                <script src="{{ asset('assets/libs/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
                <script src="{{ asset('assets/libs/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>

                <!-- Responsive examples -->
                <script src="{{ asset('assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
                <script src="{{ asset('assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>


                <!-- Datatable init js -->
                <script src="{{ asset('assets/js/pages/datatables.init.js') }}"></script>

                <!-- App js -->
                <script src="{{ asset('assets/js/app.js') }}"></script>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        {% include 'layout/footer.html.twig' %}

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

</body>
</html>
